@import url('https://fonts.googleapis.com/css2?family=Tai+Heritage+Pro:wght@400;700&display=swap');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
     font-family: "Orbitron", serif
   
}
html{
font-size: 100.5%;
scroll-padding-top: 80px;
}
 
body{
     background-image: url(../img/fundobom.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
     width: 110%;
    height: 100vh;
    overflow-x: hidden;
    color: aliceblue;
  
}
header{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
    padding: 0,5rem 9%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border: 2px solid white;
    font-size: 50%;
}
.logo{
    font-size: 3rem;
    color:aliceblue;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
}
nav a:hover,
nav a.active{
    color: aliceblue;
    border-bottom: 3px solid aliceblue;
    
}
section{
    min-height: 100vh;
    padding: 5rem 9%;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    
}
.home .home-content h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}
span{
    color: aliceblue;
}
.home-content h3{
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.home-content p{
    font-size: 1.6rem;
    color: aliceblue;
}
.home-img img{
    position: relative;
    width: 32vh;
    cursor: pointer;
    transition: 0.3s ease;
}
.home-img img:hover{
    transform: scale(1.1);
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    font-size: 1.5rem;
    border: 0.1rem solid aliceblue;
color:aliceblue;
    margin: 0.1rem;
    transform: 0.3s ease;
}
.social-icons a:hover{
    background-color: aliceblue;
    color: white;
}
.btn{
    display: inline-block;
    text-align: center;
    padding: 1rem 2rem;
    font-size: 2rem;
    color: rgb(27, 26, 26);
    background-color:aliceblue;
    border-radius: 2.5rem;
    transition: 0.3s ease;
    margin-top: 0.75rem;
}
.btn:hover{
    transform: scale3d(1.03);
    background-color:aliceblue;
    color: rgba(255, 255, 255, 0.301);
    box-shadow: 0 0 25pxrgb(31, 163, 252);
}
.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.typing-text span{
    position: relative;
}
.typing-text span::before{
    content: "";
    color:rgba(185, 182, 181, 0.712);
    animation: words 10s infinite;
}
.typing-text span::after{
    content: "";
    background-color: transparent;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid rgb(31, 163, 252);
    animation: cursor 0.6s infinite;
}
@keyframes cursor {
    to{
        border-left: 3px solid pink
    }
}
@keyframes words{
    0%, 35%{
        content:"vigilante"
    }
    36%, 65%{
        content:"curso e reciclagem"
    }
    66%, 100%{
        content:"Segurança privada"
    }
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid rgb(31, 163, 252) ;
        border-bottom: 3px solid rgb(31, 163, 252);
        padding: 1rem;
        background-color: rgb(23, 87, 129);
        border-top: 0.1rem solid rgb(31, 163, 252);
    }
    nav.active{
        display: block;
    }
    nav a{
        display: block;
        font-size: 2rem;   
        margin: 3rem 0;
    }
    nav a:hover,
    nav.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid  rgb(31, 163, 252);
    }
}
@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}
@media(max-width: 995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home .home-content h3{
        font-size: 2.5rem;
    }
    .home-content h1{
        font-size: 4rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}
.menu-toggle{
    display:none;
}
.menu-icon{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor:pointer;
    z-index: 101;
}
.menu-icon span {
    display: block;
    height: 4px;
    background-color: rgb(31, 163, 252);
    border-radius: 2px;
}
@media (max-width: 995px) {
    .menu-icon {
        display: flex;
    }
      #menu-toggle:checked ~ nav {
        display: block;
    }
}
.blocos h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
    border-left: 5px solid  rgb(31, 163, 252);
    padding-left: 1.5rem;
    color:  rgb(255, 255, 255);
}
section p {
    font-size: 1.8rem;
    line-height: 1.7;
    color: rgb(245, 245, 245);
    align-items: center;
    margin-top: 3rem;
}
 
#contato a {
    color: rgb(31, 163, 252);
    font-weight: 500;
    transition: 0.3s ease;
}
 
#contato a:hover {
    color: rgb(31, 163, 252);
    text-decoration: underline;
}
.blocos {
    margin-top: 4rem;
    align-items: center;
}